<div id="<%= dom_id project %>">
  <div>
    <strong>Title:</strong>
    <%= project.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= project.description %>
  </div>

  <div>
    <strong>Url:</strong>
    <%= project.url %>
  </div>

</div>
